

.imglogo{
	width: 100%;height: auto;
}

.tuoyuan{
	border-radius:15px;
}

.keepright{
	float:right;
}

.logindiv-change {
      margin-left:10px;
}

.logindivbg-en {
      background-image: url("../img/login4-EN.png");
      background-size: 100%;
	  background-repeat:  no-repeat;
}


.logindivbg-cn {
      background-image: url("../img/login3-CN.png");
      background-size:  100%;
	  background-repeat:  no-repeat;
}




.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{
	color:#000!important;
	background-color:#f1f1f1!important
}

.w3-image{
	max-width:100%;height:auto
}

.w3-display-right{
	position:absolute;
	top:45%;
	right:10%;
	transform:translate(0%,-50%);
	-ms-transform:translate(0%,-50%)
}

.w3-padding{
	padding:8px 16px!important
}

.w3-col,.w3-half,.w3-third,.w3-twothird,.w3-threequarter,.w3-quarter{
	float:left;
	width:100%
}

.w3-col.m8,.w3-twothird{
	width:70%

}

.w3-margin-right{
	margin-right:16px!important
}

.w3-padding-16{
	padding-top:16px!important;padding-bottom:16px!important
}

.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{
	content:"";display:table;clear:both
}

.w3-margin-bottom{
	margin-bottom:16px!important
}

.w3-input{
	padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:94%
}

.w3-border{
	border:1px solid #ccc!important
}

.w3-margin-1{
	margin:6px!important
}

.w3-tiny{
	font-size:10px!important
}

.w3-button{
	border:none;
	display:inline-block;
	outline:0;
	padding:8px 16px;
	vertical-align:middle;overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap;
	font-family:"Raleway, Arial, Helvetica, sans-serif";
	margin-top:10px;
}

.w3-orange,.w3-hover-orange:hover{
	color:#000!important;background-color:#ff9800!important
}


.w3-col,.w3-half,.w3-third,.w3-twothird,.w3-threequarter,.w3-quarter{float:left;width:100%}
.w3-col.s1{width:8.33333%}.w3-col.s2{width:16.66666%}.w3-col.s3{width:24.99999%}.w3-col.s4{width:33.33333%}
.w3-col.s5{width:41.66666%}.w3-col.s6{width:49.99999%}.w3-col.s7{width:58.33333%}.w3-col.s8{width:66.66666%}
.w3-col.s9{width:74.99999%}.w3-col.s10{width:83.33333%}.w3-col.s11{width:91.66666%}.w3-col.s12{width:99.99999%}
@media (min-width:601px){.w3-col.m1{width:8.33333%}.w3-col.m2{width:16.66666%}.w3-col.m3,.w3-quarter{width:24.99999%}.w3-col.m4,.w3-third{width:33.33333%}
.w3-col.m5{width:41.66666%}.w3-col.m6,.w3-half{width:49.99999%}.w3-col.m7{width:58.33333%}.w3-col.m8,.w3-twothird{width:66.66666%}
.w3-col.m9,.w3-threequarter{width:74.99999%}.w3-col.m10{width:83.33333%}.w3-col.m11{width:91.66666%}.w3-col.m12{width:99.99999%}}
@media (min-width:993px){.w3-col.l1{width:8.33333%}.w3-col.l2{width:16.66666%}.w3-col.l3{width:24.99999%}
.w3-col.l4{width:24%}
.w3-col.l5{width:41.66666%}.w3-col.l6{width:49.99999%}.w3-col.l7{width:58.33333%}.w3-col.l8{width:66.66666%}
.w3-col.l9{width:74.99999%}.w3-col.l10{width:83.33333%}.w3-col.l11{width:91.66666%}.w3-col.l12{width:99.99999%}}