﻿#parent {
	display:inline-block;
	height:100%;
}


.right {
	text-align: right;
    padding-right: 6%;
}

.left {
	float:left;
	width: 60%;
	text-align: left;
	padding-left: 1%;
}

.dropdown {
	width:200px;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #518995;
	padding-left: 6%;
}

.li {
	float: left;
}

.li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
}

.li a:hover {
	background-color: white;
	color: black;
}

.divmain {
	float: left;
	background-color: white;
	border-radius: 25px;
	width: 80%;
	margin-left: 10%;
	height: 50%;
	box-shadow: 10px 10px 5px #888888;
}

.divleft {
	float: left;
	width: 39%;

}

.divtopleft {
    float: left;
    width: 49%;
    box-shadow: 10px 10px 5px #888888;
    float: left;
    clear: none;
}

.divright {
	float: left;
	text-align: right;
	width: 60%;
	padding-bottom: 3%;
}

.divcentre {
    float: left;
    text-align: right;
    width: 43%;
    box-shadow: 10px 10px 5px #888888;
    float: left;
    clear: none;
}

.divtopright {
    float: left;
    width: 6.6%;
    background-color: #518995;
    text-align: right;
    padding: 10px 10px;
    text-decoration: none;
    box-shadow: 10px 10px 5px #888888;
    float: left;
    clear: none;
}

.divmessage {
	padding-top: 2%;
}

hr {
	height: 3px; 
	height: 3px;
	background-color: #518995;
}

.boxes{
	width:98%;
	float:left;

	height:inherit;
}

#bottombar {
    font-size: 14px;
    height: 100%;
    min-height: 1px;
    color: black;
    text-align: center;
    
}

#main1 {
	width: 90%;
	height: 50%;
	border-radius: 25px;
	display: -webkit-flex; /* Safari */
	display: flex;
	padding-top: 2%;
	margin-left: 10%;
	margin-right: 3%;
}

#main2 {
	width: 90%;
	height: 50%;
	border-radius: 25px;
	display: -webkit-flex; /* Safari */
	display: flex;
	padding-top: 2%;
	margin-left: 10%;
	margin-right: 3%;
}




#main div {
    width: 50px;
    height: 50px;
}

#divcircle {
    text-align: center;
    padding-top: 20%;
    
}

.row {
	width: 100%;
	height:25%;
}


.column {
	font-size: 2vh;
	text-align: right;
	background-color: lightgrey;
	float: left;
	width: 24%;
	border: solid;
	border-width: 1px;
	border-color: white;
	padding: 1.5% 0;
}


.boximage {
	width: 80%;
	height: 90%;
}


.divbox {
	padding-top:1%;
}

.li2 {
	display: inline-block;
	color: white;
	text-align: right;
	padding: 10px 10px;
	text-decoration: none;
}

#logo {
	width: 8%;
	height: 8%;
}
